/Audio IDs.xlsx
/audio-original-5k-20k
/audio_recognition-5k-20k.csv
/backup
/convert_output
/csv_output
/input
/SERVICE_ACCOUNT_KEY.json
/SERVICE_ACCOUNT_KEY2.json
/training-text.txt
/words (Autosaved).xlsx
/words-before-blank-delete.xlsx
/words.xlsx